figures/
.ipynb_checkpoints/
DJF-Larson-Thompson-Hurrell-Nature-2024.ipynb
Larson-Thompson-Hurrell-Nature-2024-withGPM.ipynb
Larson-Thompson-Hurrell-Nature-2024-withoutGPMieOnlyERA5.ipynb
tinkeringLabels.ipynb
